### ‚ö†Ô∏è Note: NVIDIA Driver Installation Required ‚ö†Ô∏è

Verify with: ```nvidia-smi```

In [9]:
from matchmaker import matchmaker
import cudf

In [10]:
raw = cudf.read_csv("data/swipes.csv")

In [2]:
engine = matchmaker.MatchingEngine()

‚úÖ GPU acceleration enabled

In [3]:
engine.load_interactions("data/swipes.csv", 
  decider_col='decidermemberid', 
  other_col='othermemberid', 
  like_col='like', 
  timestamp_col='timestamp')

Reading data... ‚úÖ
Constructing graph...‚úÖ
Fitting ALS... üöÄ Starting collaborative filtering training...
üìä Detected cuDF DataFrame, converting to pandas...
üìä Creating user mappings...
üìà 49,676 users in square matrix
üíæ 4,985,185 unique interactions
üî® Building square sparse matrix...
üìä Matrix density: 0.2020%
üéØ Training ALS model...

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 15/15 [00:00<00:00, 19.96it/s]

üîÑ Converting factors to numpy arrays...
‚úÖ Model trained in 1.00s
‚è±Ô∏è Total processing time: 5.54s
üìã Factor arrays: user_factors (49676, 64), item_factors (49676, 64)
Complete! ‚úÖ

In [4]:
user_df = engine.user_df
interaction_df = engine.interaction_df
interaction_graph = engine.interaction_graph
als_model = engine.als_model

In [5]:
engine.run_engagement()

,user_id,weighted_swipes,weighted_likes,total_swipes,total_likes,like_rate_raw,like_rate_weighted,like_rate_smoothed,decision_confidence,activity_score,intentionality_score,engagement_score
0,3862944,151.6383631,114.0072428,160,121.0,0.75625,0.751836412,0.609427894,0.842644599,0.891204286,0.034334359,0.548456315
1,2978175,125.1004362,1.962895819,130,2.0,0.015384615,0.015690559,0.146505672,0.782512755,0.944234815,0.464404233,0.752302582
2,174978,90.63486312,49.75434165,96,53.0,0.552083333,0.54895368,0.452590126,0.668889529,0.99473671,0.518047291,0.804060943
3,1155228,220.5333027,211.9766979,232,223.0,0.961206897,0.961200396,0.794475149,0.932080393,0.751808233,0.000393312,0.451242265
4,223382,154.5369878,134.1606844,161,140.0,0.869565217,0.868146108,0.687161779,0.848109804,0.885189645,0.005795194,0.533431864
...,...,...,...,...,...,...,...,...,...,...,...,...
171103,1500569,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
171104,1455810,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
171105,3083844,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
171106,2457663,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
171107,476233,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [12]:
raw[raw['decidermemberid'] == 3862944].head(1)

,decidermemberid,othermemberid,timestamp,like,decidergender,othergender,deciderdobyear,otherdobyear,decidersignuptimestamp,othersignuptimestamp
357148,3862944,1707187,2021-01-01 10:14:00,1,M,F,1993,2000,2020-12-31 19:03:36,2019-10-02 10:55:46

In [16]:
raw[raw['decidermemberid'] == 173637].head(1)

,decidermemberid,othermemberid,timestamp,like,decidergender,othergender,deciderdobyear,otherdobyear,decidersignuptimestamp,othersignuptimestamp
357817,173637,217609,2021-01-01 07:06:10,0,M,F,1977,1994,2017-04-18 06:05:48,2017-08-11 14:36:01

In [18]:
import plotly.express as px

In [6]:
engine.user_df.head(20)

,user_id,weighted_swipes,weighted_likes,total_swipes,total_likes,like_rate_raw,like_rate_weighted,like_rate_smoothed,decision_confidence,activity_score,intentionality_score,engagement_score
0,3862944,151.6383631,114.0072428,160,121.0,0.75625,0.751836412,0.609427894,0.842644599,0.891204286,0.034334359,0.548456315
1,2978175,125.1004362,1.962895819,130,2.0,0.015384615,0.015690559,0.146505672,0.782512755,0.944234815,0.464404233,0.752302582
2,174978,90.63486312,49.75434165,96,53.0,0.552083333,0.54895368,0.452590126,0.668889529,0.99473671,0.518047291,0.804060943
3,1155228,220.5333027,211.9766979,232,223.0,0.961206897,0.961200396,0.794475149,0.932080393,0.751808233,0.000393312,0.451242265
4,223382,154.5369878,134.1606844,161,140.0,0.869565217,0.868146108,0.687161779,0.848109804,0.885189645,0.005795194,0.533431864
5,1693433,22.09890171,14.73260467,24,16.0,0.666666667,0.666666826,0.414135949,0.236237805,0.657345262,0.208815775,0.477933467
6,3202545,72.36729579,70.42045844,77,75.0,0.974025974,0.973097829,0.640025148,0.586264334,0.998102473,0.012106565,0.60370411
7,3224718,50.49501806,29.06485683,54,31.0,0.574074074,0.575598503,0.433551016,0.459787611,0.949069959,0.382449806,0.722421898
8,2400950,6.493191285,0.946014639,7,1.0,0.142857143,0.145693327,0.331375861,0.076131247,0.21690957,0.076102968,0.160586929
9,2062106,21.42545163,0.917886045,22,1.0,0.045454545,0.042840919,0.283260826,0.229939346,0.644150778,0.223102425,0.475731437
10,173637,58.28709842,2.845355116,61,3.0,0.049180328,0.048816208,0.222571058,0.508757937,0.976269481,0.427486639,0.756756344
11,2160619,2.755884121,0.0,3,0.0,0.0,0.0,0.334826226,0.033049857,0.077978813,0.033013632,0.05999274
12,326589,548.2731927,548.2731927,557,557.0,1.0,1.0,0.914923389,0.998752057,0.361446247,1.190333644e-05,0.21687251
13,3183141,32.04082856,11.16938203,34,12.0,0.352941176,0.348598414,0.346786983,0.323445188,0.808841879,0.32132501,0.613835132
14,416665,169.7091005,92.61997543,177,96.0,0.542372881,0.54575727,0.480707563,0.87376666,0.85359,0.44654474,0.690771896
15,1932156,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
16,3724509,6824.692025,12.35082197,7183,13.0,0.001809829,0.001809726,0.00589708,1.0,0.000166586,0.191138867,0.076555498
17,3438041,70.00325052,70.00325052,74,74.0,1.0,1.0,0.64723447,0.574162805,0.996321947,0.010058027,0.601816379
18,3320245,668.5838704,610.4073398,685,626.0,0.913868613,0.912985441,0.851051905,0.999712262,0.290179982,8.371152076e-05,0.174141474
19,2081697,176.2224427,10.43526297,185,11.0,0.059459459,0.059216425,0.150311318,0.883405617,0.840075312,0.535848207,0.71838447